<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <!-- Cấu hình các Appender -->
    <Appenders>
        <!-- File Appender -->
        <RollingFile name="File" fileName="logs/server.log" filePattern="logs/server-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss} %-5p (%t)] - %m%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>

        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss} %-5p (%t)] - %m%n" />
        </Console>
    </Appenders>

    <!-- Cấu hình Loggers -->
    <Loggers>
        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="File" />
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
